body {
  font-family: Comic Sans MS, arial, Sans-Serif;
  margin: 0;
  padding: 0;
}

/* Style for the table */
.tbl {
    font-family: Comic Sans MS, arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

/* Style for the table title*/
.ttitle {
  background-color: black;
  color: white;
  border: 2px solid white;
}

/* Style for all the headers */
  .headers {
    font-size: 45px;
    background-color: black;
    color: white;
    padding: 10px;
    border: 5px dotted white;
  }

  /* Style for the links */
  a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  }

  a:visited {
     color: gray;
      background-color: transparent;
      text-decoration: underline;
  }

  a:hover {
      color: red;
      background-color: transparent;
      text-decoration: underline;
  }

  a:active {
      color: red;
      background-color: transparent;
      text-decoration: none;
  }
/* End style for the links */
