/* Darken title image */
img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
 
/* Page title */
.photo {
  position: relative;
  text-align: center;
  color: white;
}

/* Title text pos */ 
.lowc {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Linkbar text pos */
.highc {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100vw;
  font-size: 10vh;
  width: 95%;
}

a:link {
color: white;
background-color: transparent;
text-decoration: none;
}

a:visited {
   color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

h1 {
  font-size: 10vw; 
  border: 7px solid white;
  font: Georgia, arial, Sans-Serif bold;
  padding: 0.5vw;
}

img {
  width: 100%;
}

h3{
  font: georgia, arial, Sans-Serif 3vw;
}

p{
  font-size: 2vw;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 3vw;
}

/* Make one link navy */
#slink {
  color: navy;
  text-decoration: underline;
}

/* Width of linked images */
.favim{
  width: 32vw;
}

/* Images change color on hover */
.hov:hover { 
  -webkit-filter: brightness(100%);
  filter: brightness(100%); 
}

.cen {
  text-align: center;
}
